/*this is the primary CSS*/

html {
    overflow-y: scroll;
}


#body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}


#container {
    width: 768px;
    margin: 0px auto;
}


#header {
    width: 100%;
}


#bar {
    width: 100%;
    margin: 20px 0 5px 0;
    text-align: center;
}

#content {
    width: 100%;
}


#footer {
    width: 100%;
    text-align: center;
}


.comment {
    background-color: #dddddd;
}
