/*this is the primary CSS*/

html {
    overflow-y: scroll;
    height: 100%;
}


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
}


/*unique ids*/
#container {
    width: 768px;
    margin: 0px auto;
    background-color: #ffffff;
}


#header {
    width: 100%;
}


#bar {
    width: 100%;
    padding: 20px 0 5px 0;
    text-align: center;
}


#content {
    width: 100%;
}


#footer {
    width: 100%;
    text-align: center;
}


/*reused classes*/

.comment {
    background-color: #dddddd;
}
